body {
  font-family: poppins;
  /* font-weight: bolder; */
  margin: auto;
  max-width: 1200px;
}
header {
  justify-content: space-between;
  display: flex;
  margin: 50px 0;
  align-items: center;
}
/* h1 {
  margin-right: 532px;
} */
img {
  width: 42.9px;
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 50px;
  font-size: 15px;
}
nav a {
  text-decoration: none;
  color: #32324d;
}
nav a:hover {
  color: #4844ff;
}
nav .dropdown {
  position: relative;
}
nav .dropdown ul {
  width: 200px;
  /* height: 123px; */
  border-radius: 10px;
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: rgb(108, 105, 255);
  list-style: none;
  padding: 20px;
  text-align: center;
  left: -54px;
}
nav .dropdown:hover ul {
  display: block;
}
nav .dropdown ul li a {
  color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
/* nav .dropdown > a::after {
  content: "\f078"; Unicode ok sembolü
  margin-left: 5px;
} */
nav .dropdown ul li {
  margin: 0;
  padding: 0;
}
.fas {
  margin-left: 10px;
}
nav li:last-child {
  margin-right: 0;
}
/* nav .dropdown ul li a:not(:last-child) {
  margin-bottom: 10px;
}
nav .dropdown ul li a:last-child {
  margin-bottom: 0;
} */
.trigon {
  background-image: linear-gradient(
      to bottom right,
      transparent 50%,
      rgb(108, 105, 255) 0
    ),
    linear-gradient(to top right, rgb(108, 105, 255) 50%, transparent 0);
  width: 16.7px;
  height: 10px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  position: absolute;
  top: -10px;
  left: 108.2px;
  border: none;
}
/* nav .dropdown ul li a:not(:last-child) {
  margin-bottom: 10px;
} */

/* nav .dropdown ul li a:hover {
  background-color: #555;
} */
/* nav .dropdown li {
  margin: 0;
}
nav .dropdown a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
nav li:hover .dropdown {
  display: block;
} */
